.table-top {
  background-color: rgb(21, 21, 216);
  color: white;
}
.err-msg {
  /* font-size: 3px; */
  position: absolute;
  left: 37%;
  font-size: 20px;
  color: red;
  padding: 17px;
  /* margin-left: 42%;
  margin-top: 4%; */
}
.pageval {
  margin-left: 42%;
  margin-top: 4%;
}
/* page-link:active {
  background-color: yellow;
} */
